*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg,#08121f,#10263f,#0b4a39);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{

width:420px;

background:rgba(255,255,255,.08);

padding:40px;

border-radius:20px;

backdrop-filter:blur(15px);

box-shadow:0 10px 40px rgba(0,0,0,.4);

color:white;

text-align:center;
}

.login-box h2{

margin-bottom:10px;

font-weight:700;
}

.form-control{

background:rgba(255,255,255,.1);

border:none;

color:white;

height:50px;
}

.form-control::placeholder{

color:#ddd;
}

.btn-success{

height:50px;

border-radius:30px;

font-weight:600;
}